{:host "imap.host.here"     ; imap host
 :port 993                  ; imap port
 :username "username"       ; imap username
 :password "password"       ; imap password
 :to "to@email.com"         ; address to put in to the "to" email field
 :from "rss@bot.com"}       ; plain address to put in to the "from" email field
